:root {
  --primary-color: #f5cf23;
  --secondary-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
      App Bar
    */
.skip-link {
  position: absolute;
  height: 115px;
  top: -115px;
  left: 0;
  align-content: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 44px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  outline: 4px solid var(--primary-color);
}

header {
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  height: 50px;
  min-height: 50px;
  margin: 30px;
}

#drawer > ul {
  list-style: none;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}

#drawer > ul > li {
  display: inline;
  gap: 10px;
}

#drawer > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  margin-left: 12px;
  padding: 14px 52px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

#drawer > ul > li > a:hover {
  outline: 4px solid var(--primary-color);
  transition: 0.1s;
}

#drawer > ul > li > a:focus {
  outline: 4px solid var(--primary-color);
}

#hamburger {
  padding: 44px;
  margin-right: 5px;
  background: url("../public/icons/icon-hamburger.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  display: none;
}

#hamburger:focus {
  outline: 4px solid var(--primary-color);
}

/*
  Content
*/
main {
  flex: 1;
}

.content {
  margin: 0 auto;
}

#aksaraOpenButton,
#quizOpenButton {
  width: 150px;
  height: 150px;
  margin-top: 24px;
  margin-left: 50px;
  background: url("../public/icons/icon-plus.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#aksaraOpenButton:hover,
#quizOpenButton:hover,
#aksaraOpenButton:focus-visible,
#quizOpenButton:focus-visible {
  transform: translateY(-5px);
}

.heading-content {
  margin: 50px 0;
  color: #333;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.card {
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
  max-height: 600px;
  padding: 16px;
}

.card:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.card:focus {
  outline: 4px solid var(--primary-color);
  transform: translateY(-5px);
}

.card-content {
  color: #333;
  padding: 8px;
  text-align: start;
}

.aksara-img,
.quiz-img {
  object-fit: scale-down;
  height: 250px;
  width: 100%;
}

.card-action {
  padding: 16px;
  text-align: right;
}

.editAksaraButton,
.editQuizButton {
  width: 44px;
  height: 44px;
  background: url("../public/icons/icon-edit.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.editAksaraButton:hover,
.editAksaraButton:focus-visible,
.editQuizButton:hover,
.editQuizButton:focus-visible {
  transform: translateY(-5px);
}

.deleteAksaraButton,
.deleteQuizButton {
  width: 44px;
  height: 44px;
  background: url("../public/icons/icon-trash.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.deleteAksaraButton:hover,
.deleteAksaraButton:focus-visible,
.deleteQuizButton:hover,
.deleteQuizButton:focus-visible {
  transform: translateY(-5px);
}

/*
      Aksara
    */
.aksara-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 50px;
}

.label-aksara {
  padding: 0 20px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.data-aksara {
  padding: 0 20px;
  margin: 4px 0;
  font-weight: lighter;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
      Quiz
    */
.quiz-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 50px;
}

.quiz-card-container {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
}

.quiz-content {
  padding-right: 16px;
  padding-top: 16px;
  text-align: start;
}

.label-quiz {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}

.data-quiz {
  max-width: 340px;
  margin: 4px 0;
  font-weight: lighter;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
      Footer
    */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #333;
  font-size: 16px;
  margin-top: auto;
}

/*
      Spinner
    */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.3);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: none;
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--primary-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*
      Input
    */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 9999;
  display: none;
}

.input-form {
  border-radius: 10px;
  width: 1000px;
  min-width: 700px;
  height: auto;
  background-color: white;
  display: grid;
  grid-template-rows: 50px auto;
  gap: 0;
}

#closeButton {
  width: 44px;
  justify-self: right;
  background: url("../public/icons/icon-close.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#closeButton:hover,
#closeButton:focus-visible {
  transform: translateY(-5px);
}

.input-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-size: 16px;
}

.input-content > p {
  font-weight: bold;
  font-size: 24px;
  align-self: center;
  color: #333;
  margin-top: 0;
}

input {
  padding: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 16px;
}

input:focus {
  outline: 4px solid var(--primary-color);
}

label {
  font-weight: 600;
  color: #333;
}

#submitAksaraButton,
#submitQuizButton,
#submitAksaraEditButton,
#submitQuizEditButton {
  padding: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: #333;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#submitAksaraButton:hover,
#submitAksaraButton:focus-visible,
#submitQuizButton:hover,
#submitQuizButton:focus-visible,
#submitAksaraEditButton:hover,
#submitAksaraEditButton:focus-visible,
#submitQuizEditButton:hover,
#submitQuizEditButton:focus-visible {
  transform: translateY(-5px);
}
